<a href="https://colab.research.google.com/github/hemaappisetty/phone-specifications/blob/main/phone-specifications.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/mobile_price_range_data (2).csv")

In [ ]:
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [ ]:
df.shape

(2000, 21)

In [ ]:
df.isnull().sum() #checking if any null values are present in  each feature column

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [ ]:
x=df.iloc[:,:-1]
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [ ]:
y=df.iloc[:,-1]
y

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x.shape

(2000, 20)

In [ ]:
y.shape

(2000,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
x_train.shape

(1400, 20)

In [ ]:
x_test.shape

(600, 20)

In [ ]:
print(y_train.shape)
y_test.shape

(1400,)

(600,)

In [ ]:
#applying logistic regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
y_pred=model.predict(x_test)
y_pred

array([3, 0, 2, 1, 3, 0, 0, 2, 2, 2, 1, 3, 1, 1, 2, 0, 3, 2, 2, 1, 1, 0,
       3, 2, 1, 2, 3, 1, 3, 1, 2, 0, 1, 1, 2, 3, 0, 0, 3, 2, 3, 3, 3, 3,
       2, 2, 0, 1, 3, 1, 0, 2, 0, 3, 0, 3, 3, 1, 0, 3, 3, 2, 2, 1, 1, 3,
       3, 3, 2, 2, 3, 2, 1, 0, 1, 3, 3, 1, 1, 1, 3, 1, 3, 0, 0, 0, 1, 0,
       1, 3, 2, 2, 1, 0, 0, 3, 2, 3, 0, 2, 1, 2, 2, 0, 3, 2, 3, 2, 3, 3,
       2, 0, 0, 2, 3, 3, 1, 0, 1, 0, 0, 3, 2, 2, 1, 2, 0, 0, 0, 3, 1, 3,
       3, 2, 3, 3, 3, 3, 0, 1, 1, 3, 2, 3, 1, 3, 0, 0, 2, 0, 1, 1, 1, 1,
       3, 0, 0, 3, 1, 3, 1, 2, 2, 1, 3, 3, 3, 3, 0, 1, 3, 2, 1, 3, 3, 0,
       1, 1, 3, 0, 3, 1, 0, 1, 2, 1, 3, 0, 3, 3, 3, 3, 1, 1, 2, 1, 0, 3,
       2, 0, 3, 3, 3, 0, 1, 3, 2, 2, 0, 0, 0, 2, 2, 2, 0, 0, 0, 2, 2, 2,
       2, 3, 0, 0, 3, 3, 2, 3, 0, 3, 1, 0, 0, 3, 2, 0, 2, 2, 0, 0, 0, 3,
       3, 2, 0, 0, 2, 3, 3, 1, 3, 0, 2, 1, 1, 0, 1, 2, 3, 2, 0, 0, 1, 3,
       3, 3, 2, 3, 3, 2, 1, 2, 2, 2, 1, 3, 2, 2, 2, 1, 0, 2, 1, 0, 0, 0,
       1, 3, 3, 3, 0, 1, 2, 0, 2, 2, 3, 0, 1, 0, 1, 1, 3, 0, 0, 1, 3, 1,
       2, 0, 1, 1, 3, 0, 2, 3, 2, 2, 0, 1, 3, 1, 0, 1, 0, 1, 0, 3, 1, 2,
       2, 0, 0, 2, 3, 0, 3, 1, 1, 0, 1, 3, 0, 2, 1, 1, 2, 2, 2, 0, 3, 0,
       0, 2, 1, 3, 3, 2, 2, 0, 3, 2, 3, 2, 2, 2, 2, 3, 3, 0, 2, 1, 1, 0,
       1, 1, 2, 2, 1, 3, 1, 1, 0, 1, 1, 3, 1, 0, 0, 3, 0, 3, 0, 2, 3, 1,
       1, 0, 2, 1, 0, 0, 3, 0, 3, 3, 0, 3, 3, 3, 2, 2, 3, 2, 1, 3, 1, 2,
       1, 0, 2, 1, 1, 1, 1, 3, 1, 2, 2, 0, 3, 1, 1, 1, 3, 0, 2, 3, 2, 2,
       2, 3, 0, 0, 1, 2, 1, 2, 0, 3, 3, 0, 3, 3, 0, 2, 1, 2, 0, 2, 2, 0,
       3, 3, 2, 0, 2, 0, 3, 3, 2, 2, 1, 3, 1, 2, 0, 1, 1, 3, 0, 2, 0, 0,
       1, 3, 0, 1, 2, 0, 3, 3, 3, 3, 0, 3, 1, 2, 2, 3, 1, 3, 2, 2, 3, 2,
       0, 0, 2, 0, 3, 2, 2, 1, 0, 3, 2, 0, 1, 1, 3, 1, 0, 0, 2, 1, 0, 3,
       2, 3, 0, 0, 2, 0, 3, 2, 1, 0, 2, 3, 0, 0, 1, 0, 3, 2, 1, 3, 3, 2,
       0, 1, 1, 1, 2, 2, 3, 0, 3, 3, 3, 2, 0, 2, 0, 3, 1, 0, 0, 1, 3, 0,
       3, 1, 2, 3, 3, 1, 3, 1, 3, 0, 0, 1, 3, 1, 3, 2, 3, 3, 1, 2, 2, 2,
       1, 2, 3, 0, 3, 2])

In [ ]:
y_test

405     3
1190    0
1132    2
731     2
1754    2
       ..
841     1
108     3
665     0
1214    2
2       2
Name: price_range, Length: 600, dtype: int64

In [ ]:
#accuracy using logistic regression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_pred,y_test)

0.63

In [ ]:
confusion_matrix(y_pred,y_test)

array([[123,  23,   0,   0],
       [ 26,  71,  37,   2],
       [  2,  34,  67,  44],
       [  0,   7,  47, 117]])

In [ ]:
classification_report(y_pred,y_test)

'              precision    recall  f1-score   support\n\n           0       0.81      0.84      0.83       146\n           1       0.53      0.52      0.52       136\n           2       0.44      0.46      0.45       147\n           3       0.72      0.68      0.70       171\n\n    accuracy                           0.63       600\n   macro avg       0.63      0.63      0.63       600\nweighted avg       0.63      0.63      0.63       600\n'

In [ ]:
#KNN classification

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=10,metric="euclidean")
model.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [ ]:
y_pre=model.predict(x_test)
y_pre

array([3, 0, 2, 2, 2, 0, 0, 2, 3, 1, 0, 3, 0, 2, 3, 0, 3, 2, 2, 1, 0, 0,
       3, 1, 2, 2, 3, 1, 3, 1, 1, 0, 2, 0, 1, 3, 0, 0, 3, 3, 2, 1, 3, 3,
       1, 3, 0, 1, 3, 1, 1, 3, 0, 3, 0, 2, 2, 2, 0, 3, 3, 1, 3, 2, 1, 2,
       3, 2, 1, 2, 3, 2, 1, 0, 1, 3, 2, 1, 1, 2, 3, 3, 3, 0, 0, 0, 2, 0,
       2, 3, 1, 2, 2, 1, 0, 3, 2, 3, 0, 3, 1, 1, 2, 1, 3, 2, 2, 3, 2, 3,
       3, 0, 0, 1, 2, 3, 0, 0, 1, 0, 0, 3, 2, 2, 1, 1, 1, 1, 0, 2, 1, 3,
       2, 3, 3, 3, 3, 2, 0, 1, 1, 2, 1, 3, 0, 3, 0, 0, 2, 0, 1, 1, 1, 1,
       3, 0, 0, 3, 1, 3, 2, 1, 3, 1, 2, 3, 3, 2, 1, 0, 3, 1, 2, 3, 3, 0,
       2, 2, 3, 0, 2, 1, 0, 1, 2, 2, 2, 0, 2, 3, 1, 1, 0, 2, 3, 0, 1, 2,
       2, 0, 3, 3, 3, 1, 2, 3, 3, 3, 0, 0, 0, 2, 3, 3, 0, 0, 1, 3, 1, 3,
       3, 3, 0, 0, 2, 2, 3, 1, 0, 2, 0, 0, 0, 3, 3, 0, 2, 2, 1, 1, 0, 2,
       3, 3, 0, 0, 1, 3, 3, 2, 3, 0, 3, 0, 1, 0, 2, 3, 3, 2, 0, 0, 1, 2,
       3, 2, 2, 3, 1, 1, 0, 3, 3, 2, 1, 3, 3, 2, 2, 1, 0, 2, 2, 1, 0, 0,
       2, 2, 2, 2, 0, 1, 3, 0, 1, 2, 3, 0, 2, 0, 1, 1, 3, 0, 0, 1, 3, 1,
       2, 0, 2, 0, 3, 0, 3, 3, 2, 3, 1, 2, 2, 1, 1, 1, 0, 1, 0, 3, 1, 0,
       3, 0, 0, 0, 2, 0, 3, 1, 2, 0, 1, 3, 0, 2, 2, 1, 2, 1, 1, 0, 2, 0,
       0, 3, 1, 2, 3, 2, 2, 0, 3, 2, 2, 1, 3, 2, 3, 3, 3, 0, 2, 0, 3, 0,
       1, 1, 2, 2, 1, 2, 1, 2, 0, 1, 2, 3, 0, 0, 1, 3, 0, 3, 0, 1, 2, 1,
       1, 0, 3, 1, 0, 1, 3, 0, 3, 3, 0, 2, 1, 3, 1, 1, 3, 2, 0, 3, 3, 2,
       0, 0, 3, 0, 1, 1, 1, 3, 2, 3, 2, 0, 3, 0, 0, 1, 3, 0, 0, 3, 3, 2,
       2, 3, 0, 0, 1, 2, 1, 2, 0, 3, 3, 0, 2, 3, 0, 2, 2, 1, 0, 2, 2, 1,
       3, 2, 2, 0, 2, 0, 3, 3, 2, 1, 0, 3, 0, 2, 0, 0, 1, 3, 0, 3, 0, 0,
       1, 2, 0, 1, 3, 0, 2, 2, 1, 2, 0, 3, 0, 2, 3, 2, 2, 2, 3, 2, 3, 3,
       0, 0, 2, 0, 3, 1, 1, 1, 0, 3, 2, 0, 2, 0, 3, 1, 1, 0, 2, 0, 0, 3,
       2, 3, 0, 0, 2, 0, 3, 1, 0, 0, 2, 3, 0, 0, 0, 0, 2, 3, 1, 3, 2, 2,
       0, 1, 1, 2, 3, 1, 2, 1, 2, 3, 2, 2, 0, 3, 0, 3, 0, 0, 1, 1, 2, 0,
       1, 0, 0, 3, 3, 1, 3, 0, 2, 0, 0, 1, 3, 1, 2, 1, 3, 2, 1, 1, 3, 1,
       0, 1, 2, 0, 2, 2])

In [ ]:
#accuracy using KNN Classification
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_pre,y_test)

0.935

In [ ]:
confusion_matrix(y_test,y_pre)

array([[148,   3,   0,   0],
       [ 10, 121,   4,   0],
       [  0,   8, 126,  17],
       [  0,   0,  12, 151]])

In [ ]:
classification_report(y_pre,y_test)

'              precision    recall  f1-score   support\n\n           0       0.98      0.94      0.96       158\n           1       0.90      0.92      0.91       132\n           2       0.83      0.89      0.86       142\n           3       0.93      0.90      0.91       168\n\n    accuracy                           0.91       600\n   macro avg       0.91      0.91      0.91       600\nweighted avg       0.91      0.91      0.91       600\n'

In [ ]:
#decision tree algorithm
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
m1=DecisionTreeClassifier(criterion='gini',max_depth=4,min_samples_split=12)
m1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4, min_samples_split=12)

In [ ]:
print("training score",m1.score(x_train,y_train))
print("testing score",m1.score(x_test,y_test))

training score 0.8342857142857143
testing score 0.7866666666666666

In [ ]:
y_m1=m1.predict(x_test)
print(y_m1)

[3 0 2 1 3 0 0 3 3 1 0 3 0 2 3 0 3 2 2 1 0 0 3 1 1 2 3 1 3 1 1 0 1 0 2 3 0
 0 3 3 3 1 3 2 1 3 0 1 2 1 0 3 0 2 0 2 3 1 0 3 3 1 2 2 2 2 3 2 1 2 3 2 1 0
 1 3 2 2 2 2 3 3 2 0 0 0 2 0 1 3 1 2 3 1 0 2 3 3 0 3 1 2 2 1 3 1 2 3 2 3 3
 0 0 2 2 3 0 1 0 0 1 3 1 2 1 2 1 1 0 2 1 3 2 2 3 3 3 1 0 1 1 2 2 3 0 3 0 0
 2 0 1 1 1 1 3 1 0 3 1 3 2 1 3 1 2 3 3 2 1 0 3 2 2 2 3 0 1 2 3 0 2 1 0 1 3
 1 2 0 2 3 1 1 0 2 3 0 1 2 2 0 3 3 3 2 2 2 2 3 0 0 0 2 3 3 0 0 1 3 2 3 3 3
 0 0 2 2 2 2 0 2 0 0 0 3 3 0 2 2 0 0 0 2 3 2 0 0 1 3 3 1 3 0 3 1 1 0 2 3 2
 2 0 0 1 3 3 2 2 3 2 1 0 3 3 2 2 3 3 2 2 1 0 2 1 1 0 0 2 2 2 2 0 2 2 0 1 2
 3 0 2 0 1 1 3 0 0 2 3 1 1 1 1 0 3 0 3 3 2 2 0 2 1 0 0 1 0 0 0 3 1 0 2 1 0
 1 2 0 3 2 2 0 0 3 0 2 2 1 2 2 2 0 2 0 0 3 1 2 3 2 2 0 3 3 2 1 3 2 3 3 3 0
 3 0 2 0 1 1 2 2 2 3 1 1 0 1 2 3 0 0 1 3 0 2 0 1 2 0 0 0 2 1 1 0 3 0 3 2 0
 2 2 3 2 1 3 2 0 2 2 2 0 0 3 0 1 1 1 2 1 2 2 0 3 0 0 1 3 0 0 3 2 2 2 3 0 0
 2 2 0 2 0 3 3 0 2 3 0 2 1 1 0 2 2 1 3 2 2 0 2 0 3 3 2 2 0 3 0 2 0 0 1 3 0
 3 0 0 1 2 0 1 2 0 2 2 1 2 0 3 1 1 3 2 2 2 3 2 3 3 0 0 3 0 3 2 1 0 0 3 2 0
 1 1 3 1 2 0 3 0 0 3 1 3 0 0 2 0 3 1 0 0 2 3 0 0 0 0 2 2 2 2 2 3 0 1 1 2 3
 1 2 1 3 3 2 1 1 3 0 3 0 0 1 0 2 0 2 0 1 3 3 1 3 1 2 0 0 1 2 2 2 1 3 2 1 1
 3 2 0 2 2 0 2 2]

In [ ]:
#accuracy using Decision tree algorithm
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_m1,y_test)

0.7866666666666666

In [ ]:
confusion_matrix(y_test,y_m1)

array([[143,   8,   0,   0],
       [ 21,  87,  27,   0],
       [  0,  24, 113,  14],
       [  0,   0,  34, 129]])

In [ ]:
classification_report(y_test,y_m1)

'              precision    recall  f1-score   support\n\n           0       0.87      0.95      0.91       151\n           1       0.73      0.64      0.69       135\n           2       0.65      0.75      0.70       151\n           3       0.90      0.79      0.84       163\n\n    accuracy                           0.79       600\n   macro avg       0.79      0.78      0.78       600\nweighted avg       0.79      0.79      0.79       600\n'

In [ ]:
#applying random forest algorithm
from sklearn.ensemble import RandomForestClassifier

In [ ]:
m2=RandomForestClassifier(n_estimators=50,criterion='entropy',max_depth=6,min_samples_split=15)
m2.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=6, min_samples_split=15,
                       n_estimators=50)

In [ ]:
print("training score",m2.score(x_train,y_train))
print("testing score",m2.score(x_test,y_test))

training score 0.9342857142857143
testing score 0.84

In [ ]:
y_m2=m2.predict(x_test)
print(y_m2)

[3 0 2 1 3 0 0 3 3 1 0 3 0 2 3 0 3 2 2 1 0 0 3 1 1 2 3 1 3 1 1 0 1 0 2 3 0
 0 3 3 3 1 3 2 1 3 0 1 3 1 0 3 0 3 0 2 2 1 0 3 3 1 3 2 1 2 3 3 1 2 3 2 1 0
 1 3 2 2 2 1 3 3 3 0 0 0 2 0 1 3 1 2 2 1 0 2 3 3 0 3 1 2 3 1 3 1 2 3 2 3 3
 0 0 2 2 3 0 1 1 0 1 3 1 2 1 2 1 1 0 2 1 3 2 3 3 3 3 1 0 1 1 2 2 3 0 3 0 0
 2 0 1 1 1 1 3 0 1 3 1 3 2 1 3 1 2 3 3 2 1 0 3 2 2 3 3 0 1 2 3 0 2 1 0 1 3
 1 2 0 2 3 1 1 0 2 3 0 1 2 1 0 3 3 3 1 2 3 3 3 0 0 0 2 3 3 0 0 1 3 2 3 3 3
 0 0 3 2 3 2 0 2 0 0 0 3 3 1 2 2 0 1 0 2 3 3 0 0 1 3 3 1 3 0 3 1 1 0 1 3 3
 2 0 0 1 2 3 2 2 3 2 1 0 3 3 2 2 3 2 2 2 1 0 2 1 1 0 0 2 2 2 2 0 1 3 0 1 2
 3 0 2 0 0 1 3 0 0 2 3 1 1 0 1 0 3 0 3 3 2 3 1 1 2 1 1 1 0 1 0 2 1 0 3 1 0
 1 2 0 3 2 2 0 1 3 0 2 1 1 2 2 2 0 2 0 0 3 1 2 3 2 2 0 3 2 2 1 2 2 3 3 3 0
 2 0 3 0 1 1 2 3 1 3 1 1 0 1 2 3 0 1 1 3 0 3 0 1 2 1 0 0 3 0 0 1 3 0 3 3 0
 2 2 3 2 1 3 2 0 3 3 2 0 0 3 0 1 1 1 3 1 3 2 0 3 0 0 1 3 0 0 3 2 2 2 3 0 0
 1 2 1 2 0 3 3 0 2 3 0 2 1 1 0 2 2 1 3 2 2 0 2 0 3 3 2 1 0 3 0 2 0 0 1 3 0
 3 0 0 1 2 0 1 2 0 2 1 1 2 0 3 0 1 3 2 2 2 3 3 3 3 0 0 2 0 3 2 1 0 0 3 2 0
 1 1 3 1 1 0 2 1 0 3 1 3 0 0 2 0 3 1 0 0 2 3 1 0 0 0 2 2 1 2 2 2 0 1 1 3 3
 1 2 1 2 3 2 1 0 3 0 3 0 0 1 1 2 0 2 0 1 3 3 1 3 1 2 0 0 1 3 1 2 1 3 2 1 1
 3 1 0 2 3 0 2 2]

In [ ]:
#accuracy using Random forest algorithm
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_m2,y_test)

0.84

In [ ]:
confusion_matrix(y_test,y_m2)

array([[142,   9,   0,   0],
       [ 13, 104,  18,   0],
       [  0,  30, 109,  12],
       [  0,   0,  14, 149]])

In [ ]:
classification_report(y_m2,y_test)

'              precision    recall  f1-score   support\n\n           0       0.94      0.92      0.93       155\n           1       0.77      0.73      0.75       143\n           2       0.72      0.77      0.75       141\n           3       0.91      0.93      0.92       161\n\n    accuracy                           0.84       600\n   macro avg       0.84      0.84      0.84       600\nweighted avg       0.84      0.84      0.84       600\n'

In [ ]:
#applying svm
from sklearn.svm import SVC

In [ ]:
m3=SVC()
m3.fit(x_train,y_train)

SVC()

In [ ]:
print("training score",m3.score(x_train,y_train))
print("testing score",m3.score(x_test,y_test))

training score 0.9507142857142857
testing score 0.9483333333333334

In [ ]:
y_m3=m3.predict(x_test)
y_m3

array([3, 0, 2, 2, 2, 0, 0, 3, 3, 1, 0, 3, 0, 2, 3, 0, 3, 2, 2, 1, 0, 0,
       3, 1, 2, 2, 3, 1, 3, 1, 1, 0, 2, 0, 2, 3, 0, 0, 3, 3, 2, 1, 3, 3,
       1, 3, 0, 1, 3, 1, 1, 3, 0, 3, 0, 3, 2, 2, 0, 3, 3, 1, 3, 2, 1, 2,
       3, 2, 2, 2, 3, 2, 1, 0, 1, 3, 2, 2, 1, 2, 3, 3, 3, 0, 0, 0, 2, 1,
       2, 3, 1, 2, 2, 1, 0, 3, 3, 3, 0, 3, 1, 1, 3, 1, 3, 2, 2, 3, 2, 3,
       3, 0, 0, 1, 3, 3, 0, 0, 1, 0, 0, 3, 2, 2, 1, 1, 1, 1, 0, 2, 1, 3,
       3, 3, 3, 3, 3, 2, 0, 1, 1, 2, 1, 3, 0, 3, 0, 0, 2, 0, 1, 1, 1, 1,
       3, 0, 0, 3, 1, 3, 2, 1, 3, 1, 2, 3, 3, 2, 1, 0, 3, 1, 2, 3, 3, 0,
       2, 2, 3, 0, 2, 1, 0, 1, 3, 1, 2, 0, 3, 3, 1, 1, 0, 2, 3, 0, 1, 3,
       2, 0, 3, 3, 3, 1, 2, 3, 3, 3, 0, 0, 0, 2, 3, 3, 0, 0, 1, 3, 1, 3,
       3, 3, 0, 0, 2, 2, 3, 1, 0, 2, 0, 0, 0, 3, 3, 1, 2, 2, 1, 1, 0, 2,
       3, 3, 0, 0, 1, 3, 3, 2, 3, 0, 3, 1, 1, 0, 2, 3, 3, 2, 0, 0, 1, 2,
       3, 2, 2, 3, 1, 1, 0, 3, 3, 2, 1, 3, 3, 2, 2, 1, 0, 2, 2, 1, 0, 0,
       2, 2, 2, 2, 0, 1, 3, 0, 1, 2, 3, 0, 2, 0, 1, 1, 3, 0, 0, 2, 3, 1,
       2, 0, 2, 0, 3, 0, 3, 3, 2, 3, 1, 2, 2, 1, 1, 1, 0, 1, 0, 3, 1, 0,
       3, 1, 0, 1, 3, 0, 3, 1, 2, 0, 1, 3, 0, 2, 1, 1, 2, 1, 1, 0, 2, 0,
       0, 3, 1, 2, 3, 2, 2, 0, 3, 2, 1, 1, 3, 2, 3, 3, 3, 0, 2, 0, 3, 0,
       1, 1, 2, 3, 1, 3, 1, 2, 0, 1, 2, 3, 0, 0, 1, 3, 0, 3, 0, 1, 2, 1,
       1, 0, 2, 0, 0, 1, 3, 0, 3, 3, 0, 2, 1, 3, 1, 1, 3, 2, 0, 3, 2, 2,
       0, 0, 3, 0, 1, 1, 1, 3, 2, 3, 2, 0, 3, 0, 0, 1, 3, 0, 0, 3, 3, 2,
       2, 3, 0, 0, 1, 2, 1, 2, 0, 3, 3, 0, 2, 3, 0, 3, 2, 1, 0, 2, 2, 1,
       3, 2, 2, 0, 2, 0, 3, 3, 2, 1, 0, 3, 0, 2, 0, 0, 1, 3, 0, 3, 0, 0,
       1, 2, 0, 1, 3, 0, 2, 2, 1, 2, 0, 3, 0, 2, 3, 2, 2, 2, 3, 2, 3, 3,
       0, 0, 3, 0, 3, 1, 1, 0, 0, 3, 2, 0, 2, 0, 3, 1, 1, 0, 2, 1, 0, 3,
       1, 3, 0, 0, 2, 0, 3, 1, 0, 0, 2, 3, 0, 0, 0, 1, 2, 3, 1, 3, 2, 2,
       0, 1, 1, 2, 3, 1, 2, 1, 2, 3, 2, 2, 1, 3, 0, 3, 0, 0, 1, 1, 2, 0,
       1, 0, 1, 3, 3, 1, 3, 0, 2, 0, 0, 1, 3, 1, 2, 1, 3, 2, 1, 1, 3, 1,
       0, 1, 3, 0, 2, 2])

In [ ]:
#accuracy using SVM algorithm
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_m3,y_test)

0.9483333333333334

In [ ]:
confusion_matrix(y_test,y_m3)

array([[149,   2,   0,   0],
       [  6, 128,   1,   0],
       [  0,   7, 133,  11],
       [  0,   0,   4, 159]])

In [ ]:
classification_report(y_m3,y_test)

'              precision    recall  f1-score   support\n\n           0       0.99      0.96      0.97       155\n           1       0.95      0.93      0.94       137\n           2       0.88      0.96      0.92       138\n           3       0.98      0.94      0.95       170\n\n    accuracy                           0.95       600\n   macro avg       0.95      0.95      0.95       600\nweighted avg       0.95      0.95      0.95       600\n'

In [ ]:
#best accuracy model is svm
#second best accuracy model is KNN